.movielist{
    background-color:transparent;
    padding-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.movie-banner{
    background-color:transparent;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;

}
.movie-category{
    display: flex;
    overflow-y: hidden;
    height: 40vh;
    
}

.movie-category-comp{
    background-color:transparent;
    margin-bottom: 10%;
    margin-left: 10%;
    border-radius: 10%;
   
    border: none;
    padding:10px;
    transition: height 1s,width 1s,transform 2s;
}
.movie-category-comp:hover{
    height: 270px;
    width: 400px;
}
.movie-category-comp img {
    height: 150px;
    border-radius: 10px;
    object-fit: contain;
    align-items: center;
    align-content: center;
    transition: height 1s,width 1s,transform 2s;
}

.movie-category-comp img:hover{
    height: 200px;
}
/*select div*/
.selec-div{
    display: flex;
    justify-content: space-between;
    height: 50px;

}
.select-div-g{
   
    width: 70%;
}
.g-input-div{
    display: flex;
    font-size: 18px;
    justify-content: center;
    width: 60%;
    align-items: center;
    
}
.g-input-div > input{
width: 50%;
text-align: center;
 padding: 0px 20px;
 border: none;
 border-radius: 10px;
 outline: none;
}
.selec-div > h2,select  {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    padding: 0px 20px;
    font-style: italic;
    
}
.selec-div > h1{
    color:thistle; 
}
.selec-div > select{
    margin: 10px 2%;
    background-color: thistle;
    border-radius: 10px;
    border: none;
    outline: none;
}


/*horizontal scroll css*/
.wrapper{
    flex: 0 0 auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-overflow-scrolling: touch;
    touch-action:pan-x
}

.wrapper  h3 {
    color:thistle; 
    font-size: larger;
    font-weight: 700;
}


/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .popup-one{
      display: flex;
  }
  .popup-one h4{
      font-size: 18px;
      margin-left: 80%;
  }
  .popup-one img{
      height: 80%;
      width: 100%;
      object-fit: contain;
      margin: 10px 0px;
      border-radius: 10px;
  }

  .pop-btn{
      border-radius: 20px;
      padding: 5px 20px;
      border: none;
  }
  .pop-btn:hover{
      background-color:chocolate;
      color: whitesmoke;
  }
  .pop-overview{
      padding: 10px 10px;
      margin: auto 0px;
      overflow-y: auto;
      max-height: 90%;

  }
  
  .box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    margin-top: calc(100vh - 85vh - 50px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
  
  .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 60px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }

  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
 



  /*mmmmm*/
 

  .movielist::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent; }
    .movielist::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }

    .container {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.container::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.dv-c{
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}


.movie-category::-webkit-scrollbar {
    display: none;
  }

 
  body::-webkit-scrollbar {
    display: none;
    
    
  }
  .containerp {
    position: relative;
    text-align: center;
    color: white;
  }


  .centeredd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }